* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    border: none;
    outline: none;
    font-weight: 300;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body {
    background-color: #f7f8fa;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}
/*Header*/

header{
  width: 100%;
  float: left;
}


.introducao{
  float: left;
      box-shadow:
          0 1px 3px rgba(0,0,0, 0.12),
          0 1px 2px rgba(0,0,0, 0.24);
      padding: 2%;
      background-color: #fff;
      float: left;
      border-radius: 2px;
      transition: all .4s;
      width: 90%;
      height:inherit;
		  margin: 0.5% 5% 0 5%;
}

.introducao h2{
  font-size: 2.2em;
  color: #3d5f81;
  font-family: 'Slabo 27px', serif;
  margin: 0  0 1% 0;
}

.introducao h3{
  float: left;
  text-align: justify;
  font-size: 1.03em;
  font-weight: 400;
  color: #3d5f81;
}

.introducao a{
  font-size: 1.03em;
  font-weight: 400;
  color: #F9A825;
}
